#cuerpazo {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.tutuli {
    background-color: #588157;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.titu h1 {
    color: white;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.menu a:hover {
    color: #dad7cd;
}

.titulo {
    color: #dad7cd;
    text-align: center;
    margin: 30px 0;
}

.contenedor-contactos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#keiner,
#yarlinson,
#martin,
#sofia {
    width: 45%;
    background-color: #588157;
    color: white;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    max-width: 70%;
}

#keiner img,
#yarlinson img,
#martin img,
#sofia img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 40%;
}

#keiner h3,
#yarlinson h3,
#martin h3,
#sofia h3 {
    text-align: center;
}

p {
    color: #dad7cd;
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: #dad7cd;
}

.pie {
    color: white;
    background-color: #588157;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 600px) {
    #keiner,
    #yarlinson,
    #martin,
    #sofia {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .info {
        max-width: 100%;
    }

    img {
        margin-top: 15px;
    }
}