body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    margin: 0;
}

.cabeza {
    background-color: #588157;
    padding: 10px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-titulo img {
    width: 60px;
}

.logo-titulo h1 {
    color: white;
    font-size: 22px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.bienvenida {
    text-align: center;
    margin-bottom: 30px;
    color: #4b946f;
}

.bienvenida h2 {
    margin-bottom: 10px;
}

.bienvenida p {
    max-width: 600px;
    margin: 0 auto;
}

.img {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* NUEVO */
.card-img {
    text-align: center;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

/* EFECTO HOVER */
.card-img:hover {
    transform: translateY(-10px) scale(1.05);
}

/* IMAGEN */
.img img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* SOMBRA MÁS FUERTE */
.card-img:hover img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}

/* TITULO */
.titulo-img {
    color: white;
    margin-top: 12px;
    font-size: 20px;
    transition: 0.3s ease;
}

/* COLOR AL PASAR EL MOUSE */
.card-img:hover .titulo-img {
    color: #95d5b2;
}

footer {
    background-color: #588157;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
}

@media(max-width:576px) {

    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    nav a {
        margin: 0 8px;
        font-size: 14px;
    }

    .logo-titulo img {
        width: 50px;
    }

    .logo-titulo h1 {
        font-size: 18px;
    }

    .bienvenida h2 {
        font-size: 18px;
    }

    .bienvenida p {
        font-size: 14px;
        padding: 0 10px;
    }

    .img {
        flex-direction: column;
        align-items: center;
    }

    .img img {
        width: 220px;
        height: 130px;
    }

    .titulo-img {
        font-size: 18px;
    }
}