body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    margin: 0;
}

.cabeza {
    background-color: #588157;
    padding: 10px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-titulo img {
    width: 60px;
}

.logo-titulo h1 {
    color: white;
    font-size: 22px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.bienvenida {
    text-align: center;
    margin-bottom: 30px;
    color: #4b946f;
}

.bienvenida h2 {
    margin-bottom: 10px;
}

.bienvenida p {
    max-width: 600px;
    margin: 0 auto;
}

.img {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #588157;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 120px;
}

@media(max-width:576px) {

    .logo-titulo img {
        width: 50px;
    }

    .logo-titulo h1 {
        font-size: 18px;
    }

    .bienvenida h2 {
        font-size: 18px;
    }

    .bienvenida p {
        font-size: 14px;
        padding: 0 10px;
    }

    .img {
        flex-direction: column;
        align-items: center;
    }

    .img img {
        width: 200px;
        height: 120px;
    }
}