* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -------------- */
.cabeza {
    background-color: #588157;
    padding: 12px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-titulo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo-titulo img {
    width: 60px;
}
.logo-titulo h1 {
    color: white;
    font-size: 24px;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover {
    text-decoration: underline;
}
/* -------------- */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
/* -------------- */
.contenedor-formulario {
    width: 100%;
    max-width: 850px;
    background-color: #2a2a2a;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.contenedor-formulario h2 {
    text-align: center;
    color: #95d5b2;
    margin-bottom: 15px;
}
.descripcion {
    text-align: center;
    color: #d6d6d6;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}
/* -------------- */
.grupo {
    margin-bottom: 18px;
}
.grupo label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
.grupo input,
.grupo select,
.grupo textarea {
    width: 100%;

    padding: 12px;

    border: none;
    border-radius: 10px;

    background-color: #3b3b3b;
    color: white;

    font-size: 14px;
}
.grupo textarea {
    resize: vertical;
}
.grupo input:focus,
.grupo select:focus,
.grupo textarea:focus {
    outline: 2px solid #95d5b2;
}
/* -------------- */
.grupo-check {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 25px;

    font-size: 13px;
    color: #d6d6d6;
}
.grupo-check input {
    margin-top: 2px;
}
/* -------------- */
.btn-enviar {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #588157;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-enviar:hover {
    background-color: #4b946f;
}
/* -------------- */
footer {
    background-color: #588157;

    color: white;

    text-align: center;

    padding: 15px;
}
footer h6 {
    margin: 4px 0;
    font-size: 12px;
}
/* -------------- */
@media (max-width: 576px) {

    .logo-titulo img {
        width: 50px;
    }

    .logo-titulo h1 {
        font-size: 20px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .contenedor-formulario {
        padding: 20px;
    }
}